<launch>

<!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find desafio)/launch/husky.rviz"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find desafio)/map/mapa1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find husky_navigation)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find husky_navigation)/launch/move_base.launch" />
  <include file="$(find explore_lite)/launch/explore_costmap.launch" />

	</launch>