<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />
  
  <!-- Show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find desafio)/launch/husky.rviz"/> -->

  <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>
  

  <arg name="map_file" default="$(find desafio)/map/mapa1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  

  <include file="$(find husky_navigation)/launch/amcl.launch" />
  <include file="$(find husky_navigation)/launch/move_base.launch" />
  

  <node name="Operator" pkg="nav2d_operator" type="operator" >
    <remap from="scan" to="scan"/>
    <rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
    <rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
  </node>
  
  <node name="SelfLocalizer" pkg="nav2d_localizer" type="localizer">
    <remap from="scan" to="scan"/>
    <param name="min_particles" type="int" value="500"/>
    <param name="max_particles" type="int" value="20000"/>
  </node>
  
  <node name="Navigator" pkg="nav2d_navigator" type="navigator">
    <rosparam file="$(find nav2d_tutorials)/param/navigator.yaml"/>
  </node>
  
  <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
  <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
  <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />

  <node pkg="desafio" name="exploration" type="explore.py" output="screen" />
  <!-- <node pkg="gazebo_light_sensor_plugin" name="robot_vision" type="controlvision.py" output="screen" /> -->

</launch>